.slideshow .slides {
  display: none;
}

.slideshow .slides.active {
  display: block;
}

.category-link .subcategories {
  display: none;
}

.category-link .subcategories > *:last-child {
  border-bottom: 0;
}

.category-link.active .caret {
  transition: transform 300ms linear;
}

.category-link.active .caret {
  transform: rotateZ(-90deg);
}

.category-link.active .subcategories {
  display: block;
}

.ratio-4-3 {
  width: 100%;
  padding-top: 75%;
  position: relative;
}

.ratio-4-3 > * {
  position: absolute;
  height: 100%;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}